<section class="product-list-cnt-v1">
    <h1 *ngIf="productType === 'new'">Neue Produkte</h1>
    <h1 *ngIf="productType === 'popular'">Beliebte Produkte</h1>
    <h1 *ngIf="productType === 'discount'">Produkte im Angebot</h1>
  
    <div class="product-list">
      <div class="product-list-item" *ngFor="let item of products">
        <!-- Jedes Produkt in der eigenen Card darstellen -->
        <app-product-card [product]="item"></app-product-card>
      </div>
    </div>
  
    <!-- Fallback, wenn keine Produkte vorhanden sind -->
    <p *ngIf="products.length === 0">Keine Produkte verfügbar.</p>
  </section>
