src/app/sidebar/sidebar.component.html
<!-- <div class="sidebar" [class.open]="isSidebarOpen"> -->
  <!-- Close-Button mit Bild -->
  <!-- <div class="bastek-case-container">
    <h2>Warenkorb</h2>
    <button class="close-button" (click)="closeSidebar()">
      <img src="./assets/img/header-icon/remove-green.svg" alt="Close" />
    </button>
  </div>

  <ul *ngIf="cartItems.length > 0; else emptyBasket" class="basket-items">
    <li *ngFor="let item of cartItems" class="product-in-basket_v1">
      <div class="prudoct-img-basket">
        <img [src]="item.image" alt="{{ item.name }}" />
      </div>
      <div class="product-information-amounts">
        <div class="product-information">
          <div class="prodct-name-basket">
            <span>{{ item.name }}</span>
            <span>{{ item.package }}</span>
          </div>
          <div class="prodct-price-basket">
            <span>{{ (item.price * item.quantity) | currency:'EUR' }}</span>
          </div>
        </div>
        <div class="amount-product-basket">
          <div class="price-prodct">
            <span>{{ (item.price * item.quantity) | currency:'EUR' }}</span>
          </div>
          <span class="price-to-Kg">€ {{ item.pricePerKg | number:'1.2-2' }} / kg</span>
        </div>
      </div>
      <button (click)="removeItem(item.id)" class="remove-button">
        <img src="./assets/img/remove_circle.png" alt="Remove">
      </button>
    </li>
    <div class="line" *ngIf="cartItems.length > 0"></div>
  </ul> -->

  <ng-template #emptyBasket>
    <div class="empty-basket-container">
      <p class="empty-message">Ihr Warenkorb ist leer.</p>
      <!-- Das Bild mit Animation -->
      <img src="./assets/img/shopping-bag.png" alt="Leerer Warenkorb">
    </div>
  </ng-template>

  <!-- Gesamtübersicht -->
  <div class="basket-summary">
    <!-- <div class="summary-row basket-text">
      <span>Warenkorb:</span>
      <span>{{ getTotalPrice() | currency:'EUR' }}</span>
    </div>
    <div class="summary-row borderline basket-text">
      <span>Liefergebühr:</span>
      <span>{{ deliveryFee | currency:'EUR' }}</span>
    </div>
    <div class="summary-row total">
      <span>Gesamtsumme:</span>
      <span>{{ getTotalPrice() + deliveryFee | currency:'EUR' }}</span>
    </div>
    
    <button 
      [disabled]="getTotalPrice() < 20"
      class="checkout-button">
      Weiter zur Kasse
    </button>
  </div> -->
</div>