<div class="category-section">
    <div class="mini-card-category">
        <a href="#" class="mini-card-link">
            <div class="mini-card-img">
                <img src="/assets/img/Brot.jpg" alt="Frisches Brot">
                <h2 class="mini-card-text">Frisches Brot</h2>
            </div>
        </a>
    </div>
    <div class="mini-card-category">
        <a href="#" class="mini-card-link">
            <div class="mini-card-img">
                <img src="/assets/img/cake-1835443_1920.jpg" alt="Frisches Brot">
                <h2 class="mini-card-text">Produkte zum Geburtstag</h2>
            </div>
        </a>
    </div>
    <div class="mini-card-category">
        <a href="#" class="mini-card-link">
            <div class="mini-card-img">
                <img src="/assets/img/chocolate-8455786_1920.jpg" alt="Frisches Brot">
                <h2 class="mini-card-text">Zum Naschen</h2>
            </div>
        </a>
    </div>
    <div class="mini-card-category">
        <a href="#" class="mini-card-link">
            <div class="mini-card-img">
                <img src="/assets/img/mango-8283268_1920.jpg" alt="Frisches Brot">
                <h2 class="mini-card-text">Frisches Gemüse</h2>
            </div>
        </a>
    </div>
</div>
