<div class="category-section">
    <div class="mini-card-category">
        <a href="#" class="mini-card-links"></a>
        <div class="mini-card-img">
            <span>
                <img src="/assets/img/Brot.jpg" alt="">
            </span>
        </div>
    </div>
    <div class="mini-card-category">
        <a href="#" class="mini-card-links"></a>
        <div class="mini-card-img">
            <span>
                <img src="/assets/img/Brot.jpg" alt="">
            </span>
            <h2 class="mini-card-text">Frisches Brot</h2>
        </div>
    </div>
    <div class="mini-card-category">
        <a href="#" class="mini-card-links"></a>
        <div class="mini-card-img">
            <span>
                <img src="/assets/img/Brot.jpg" alt="">
            </span>
        </div>
    </div>
</div>