<app-header></app-header>

<div class="main-page">
  <div class="layot-container">
    <section class="start-layout">
      <section>
        <div class="colum-container">
          <div class="start-title">
            <h1>Selam Alejkum</h1>
          </div>
          <!-- oberer Bereich -->
          <div class="start-container">
            <div class="start-container-v1">
              <div class="start-container-v2">
                <app-start-page></app-start-page>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
  <section>
    <div class="colum-container">
      <div class="start-title">
        <h1>Willkommen in unserem Shop</h1>
      </div>
      <!-- Neue Produkte -->
      <app-dynamic-product-list productType="new" class="dynamic-list"></app-dynamic-product-list>

      <!-- Beliebte Produkte -->
      <app-dynamic-product-list productType="popular" class="dynamic-list"></app-dynamic-product-list>

      <!-- Produkte im Angebot -->
      <app-dynamic-product-list productType="discount" class="dynamic-list"></app-dynamic-product-list>
    </div>
  </section></div>

<app-footer></app-footer>