.main-page {
    padding-top: 50px;
}
.colum-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mini-card-component{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: auto;
   
}



