.main-page {
    height: calc(100vh - 100px);
    width: 100%;
    max-width: 100%;
    background-color: gray;
}

.greenting-container {
    display: flex;
    height: 100px;
    align-items: center;
    padding-inline: 100px;
    gap: 50px;
}

.greeting{
    
    >h1{
        margin: 0;
        font-weight: bolder;
    }
}

.username {
    font-size: 25px;
    height: 100%;
    display: flex;
    align-items: center;
}

.four-category-section{
    height: 400px;
}