<div class="content">
  <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
    <input type="email" placeholder="E-mail Adresse eingeben" [(ngModel)]="user.email" name="email"/>
    <input type="password" placeholder="Passwort eingeben" [(ngModel)]="user.password" name="password"/>
    <a href="#">Passwort vergessen</a>
    <button type="submit">Login</button>
    <button (click)="openAddUserDialog()">Registrieren</button>
  </form>
  <div class="flex">
    <div class="vertical-line"></div>
    <span>oder weiter mit</span>
    <div class="vertical-line"></div>
  </div>
  <div class="google-div">
    <img class="google-icon" src="assets\img\icons\google-icon.png" alt="Google">
  </div>
</div>
