<div class="content">
    <h2>Profilinformationen</h2>
    <div class="infos">
        <!-- <input type="email" placeholder="E-mail Adresse eingeben" [(ngModel)]="user.email" name="email" />
        <input type="password" placeholder="Passwort eingeben" [(ngModel)]="user.password" name="password"/>
        <input type="password" placeholder="Passwort wiederholen" />
        <input type="text" placeholder="Namen eingeben" [(ngModel)]="user.firstName" name="firstName">
        <input type="text" placeholder="Nachnamen eingeben" [(ngModel)]="user.lastName" name="lastName">
        <input type="text" placeholder="Straße eingeben" [(ngModel)]="user.street" name="street">
        <input type="text" placeholder="Postleizahl eingeben" [(ngModel)]="user.zipCode" name="zipCode">
        <input type="text" placeholder="Stadt eingeben" [(ngModel)]="user.city" name="city"> -->
    </div>
</div>
