<div class="product-card" *ngIf="product">
  <img 
  [id]="product.id" 
  *ngIf="drink" 
  class="plus-6-icon blur" 
  (mouseover)="iconBlurZero(product.id)" 
  (mouseleave)="iconBlur(product.id)" 
  (click)="addSixToCart()" 
  src="./assets/img/drinks/icons/six.png" 
  alt="6 Plus Icon">
  <img [src]="product.image" alt="Produktbild" class="product-image" />
  <div class="product-inofmation-price">
    <div class="title-container">
      <span>{{ product.name }}</span>
      <span class="price">{{ product.price | currency:'EUR' }}</span>
    </div>
    <div class="gray-text">
      <div class="F">
        <span>€ {{product.pricePerKg}} / kg</span>
        <div>{{product.package}}</div>
      </div>
      <div class="add-basket">
        <button 
        class="add-to-basket" 
        (click)="increment()" 
        [disabled]="!inStock" 
        aria-label="Add to Basket">
        <img src="./assets/img/card-svgs/add-green.svg" alt="Plus">
      </button>
        <span class="quantity-display" *ngIf="quantity > 0">
          {{ quantity }}
        </span>

        <button 
        class="minus-button" 
        *ngIf="quantity > 0" 
        (click)="decrement()" 
        [disabled]="!inStock" 
        aria-label="Remove from Basket">
        <img src="./assets/img/header-icon/remove-green.svg" alt="Minus">
      </button>
      </div>
    </div>
  </div>
  <div class="stock-overlay" *ngIf="!inStock">
    <span class="stock-empty">Ausverkauft</span>
  </div>
</div>