.product-card {
  position: relative;
  width: 200px;
  height: 300px;
  padding: 10px 10px;
  border: solid 1px transparent;
  cursor: pointer;
  background-color: rgba(219, 218, 218, 0.219);
  border-radius: 20px;
  &:hover {
    border: solid 1px #40b658;
  }
  > img {
    width: 100%;
    object-fit: cover;
    // max-height: 140px;
    min-height: 150px;
  }

  .product-inofmation-price {
    min-height: 110px;
    max-height: 110px;
  }

  .add-to-basket {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    /* Statt display: none; → mit opacity unsichtbar machen */
    opacity: 0;
    pointer-events: none; /* Damit man es nicht anklicken kann, wenn es "unsichtbar" ist */
    transition: opacity 0.3s ease-in-out; /* Animation definieren */
    
    > img {
      width: 30px;
      height: 30px;
    }
  }

  &:hover .add-to-basket {
    opacity: 1;
    pointer-events: auto; /* Jetzt lässt sich der Button klicken */
   
  }
  .minus-button {
    position: absolute;
    right: 120px;
    bottom: 13px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: none;
    > img {
      width: 30px;
      height: 30px;
    }
  }

  .quantity-display {
    position: absolute;
    right: 80px;
    bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  >span {
    font-family: 'Belanosima';
  }
}

.stock-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Halbtransparentes weißes Overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Sicherstellen, dass das Overlay über dem restlichen Inhalt liegt */
  
  .stock-empty {
    font-size: 1.5em;
    color: #ff0000; /* Rote Schrift für Betonung */
    font-weight: bold;
  }
}




